<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <div class="col text-center text-secondary">
      <small class="block"
        >&copy; WaveWhisper <%= new Date().getFullYear() %>. All Rights
        Reserved.</small
      >
      <small class="block"
        >Design by
        <a
          href="https://instagram.com/mazizf_/"
          target="_blank"
          style="text-decoration: none"
          >@azxx</a
        >.</small
      >
    </div>
  </div>
</footer>
