<% layout("layouts/app") %>

<h1>Add Beach</h1>
<form action="/beaches" method="POST">
  <div>
    <label for="title">Title</label>
    <input type="text" name="beach[title]" id="title" required />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="beach[location]" id="location" required />
  </div>
  <div>
    <label for="cost">Cost</label>
    <input type="text" name="beach[cost]" id="cost" required />
  </div>
  <button type="submit">Save</button>
</form>
