<% layout("layouts/app") %>

<h1><%= beach.title %></h1>
<h1><%= beach.location %></h1>
<form
  action="/beaches/<%= beach._id %>?_method=DELETE"
  method="POST"
  onclick="return confirm('yakin?')"
  style="display: inline !important"
>
  <button type="submit">Delete</button>
</form>
<a href="/beaches/<%= beach._id %>/update">Update</a>
<a href="/beaches">All Beaches</a>
