<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WaveWhisper <%= beach.title %></title>
  </head>
  <body>
    <h1><%= beach.title %></h1>
    <h1><%= beach.location %></h1>
    <a href="/beaches/<%= beach._id %>/update">Update</a>
    <a href="/beaches">All Beaches</a>
  </body>
</html>
