<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WaveWhisper - Beaches</title>
  </head>
  <body>
    <h1>All Beaches</h1>
    <a href="/beaches/create">Add Beach</a>
    <ul>
      <% for (const beach of beaches) { %>
      <li><a href="/beaches/<%= beach._id %>"><%= beach.title %></a></li>
      <% } %>
    </ul>
  </body>
</html>
